<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Disease Classifier</title>
	<link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<style>
	#main-footer
    {
      color: #FFFFFF;
      font-family: "Segoe UI";
      background: LightSlateGrey;
      text-align: center;
      margin-top: 108px;
      padding: 10px;
      bottom: 8px;
    }
</style>
<body style="background-color:Azure" >
 <nav class="navbar navbar-expand-md" style="background-color:LemonChiffon">

	<div class="container">
		<a class="navbar-brand" href="#" style="color:tomato"> <b>Disease Classifer</b> </a>
	</div>
	
    <a class="nav-item nav-link" href="/">Home</a>
	<a class="nav-item nav-link" href="/riceleaf">Rice Leaf</a>
	<a class="nav-item nav-link" href="/maizeleaf">Maize Leaf</a>
	<a class="nav-item nav-link" href="/diabetic_retino">Diabetic Retina</a>
	<a class="nav-item nav-link" href="/malariacell">Malaria Infection</a>
	<a class="nav-item nav-link" href="/lungcancer">Lung Cancer</a>

 </nav>

<div>
<h2>Senior Design Project</h2>
<p> </p>
<p style="color:green"> Project Title: Convolution Neural Networks based Disease Classifier
    for Humans and Plants using TensorFlow </p>
<p style="color:Chocolate">
Description: This WebApp uses Convolution Neural Network Models for classifying
diseases using images. 
</p>

<div>
<img src="static/Home/ah.PNG">
</div>

<p> </p>
<b>Done by:</b> <p> </p>
<div style = "color:Indigo">
<p> Name: Kothala Mohan Kumar </p>
<p> Reg.No: 17BEC7034 </p>
<p> Dept: SENSE </p>
<p> University: Vellore Institute of Technology - AP </p>

</div>

</body>

	<footer id="main-footer">
		  Copyright &copy; Kothala Mohan Kumar (17BEC7034)
	</footer>

</html>
